/* body {
    color: #212121;
} */
:root {
    --header-color:#212121;
}
:root {
    --p-color:#757575;
}
:root {
    --select-color:#2196F3;
}


.header {
    background-color: #FFFFFF;
    /* width: 1600px;
    height: 80px; */
}
.web-color {
    color: var(--select-color);
}
.logo {
    color: #000;
}
.navigation > li {
    color: var(--header-color);
}
.mail-tel-ul > li {
    color: var(--p-color);
}
.hero-section {
    background-color: #2F303A;
    /* width: 1600px;
    height: 600px; */
}
.hero-section > h1 {
    color: var(--header-color);
}
.hero-button {
    background-color: var(--select-color);
}
.methods-section {
    background-color: #fff;
}
.methods-section > h2, h3 {
    color: var(--header-color);
}
.methods-list > li> p {
    color: var(--p-color);
}
.hard-skills-section > h2 {
    color: var(--header-color);
}
/* .hard-skills-list {

} */
.team-members-section > h2, ul > li > h3 {
    color: var(--header-color);
}
.team-members-section > ul > li > p {
    color: var(--p-color);
}